.paper {
  background: var(--palette-bg-paper);
  border: 1px solid var(--palette-divider);
  border-radius: var(--shape-radius);
  padding: 20px;
  margin-bottom: 24px;
  position: relative;
  box-shadow: var(--shadow-1);
}

.container {
  height: 60vh;
  width: 100%;
  display: block;
}
